body {
    background-color: #f9f7fe; 
    font-family: "Roboto", sans-serif;
}
header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0; 
}
a {
    color: #885df1;
}
.displayed-city{
    margin: 0; 
    font-size: 38px;
    line-height: 48px;
    color: #272044;
}
.weather-details {
    font-size: 16px;
    line-height: 24px; 
    font-weight: 500;
    color: rgba(39, 33, 66, 0.4);
}
.weather-details strong {
    color: #f65282;
}
.temperature-container {
    display: flex;
}
.temperature-emoji {
    width: 88px;
    height: 88px;
}
.temperature-value {
    font-size: 88px;
    line-height: 88px;
    font-weight: 600;
    margin-left: 10px;
}
.temperature-unit {
    margin-top: 8px;
    font-size: 25px;
}
.weather-app {
    background: #ffffff;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0,08);
}
.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 17px 23px;
    font-size: 18px;
}
.search-form-button {
    background-color: #885df1;
    color: #ffffff;
    border: none; 
    border-radius: 5px; 
    padding: 17px 27px; 
    margin-left: 5px;
    font-size: 18px; 
}
.data-section {
    display: flex;
    justify-content: space-between;
}
.weather-forecast {
    margin-top: 30px; 
    color: #000000;
    display: flex;
    justify-content: space-around;
}
.forecast-date {
    text-align: center;
    font-size: 16px; 
    line-height: 20px;
    opacity: 0.5;
    margin-bottom: 10px;
}
.forecast-temperature {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    color: #f65282;
    font-size: 13px;
    margin-top: 10px;
}
.forecast-temperature-min {
    opacity: 0.5;
}
.forecast-emoji {
    width: 70px;
    height:70px;
    text-align: center;
}
main {
    padding: 30px 0;
}
footer {
    border-top: 1px solid #f9f7fe; 
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px; 
    color: #808080;
}